################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/PG_LABS/.vs/PG_LABS/FileContentIndex
